.footer {
  position: relative;
  background-color: #222;
  color: white;
  height: 20px;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}